html,body {
    height: 100%;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 90%;
}

hr {
    border: 1px solid #888;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 400;
}

h1 {
    border-bottom: 1px solid rgba(31, 74, 153, 0.26);
    color: #666;
    text-align: center;
    font-weight: 800;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 300%;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}

h4 i {
    color: #1f4a99 !important;
}

h5 {
    margin-top: 0px;
    font-size: 120%;
    font-weight: lighter;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

label {
    font-weight: bold;
    font-size: 90%;
    text-transform: uppercase;
    margin-top: 2em;
    display: inline-block;
    color: #222;
}

header {
    flex-shrink: 0;
}

a {
    color: #222;
}

a:visited {
    color: #222;
}

footer {
    background-color: rgb(37, 40, 42);
    color: #ffcc01;
    margin-top: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 25px;
    padding-bottom: 25px;
    flex-shrink: 0;
}

footer a {
    color: #ffcc01 !important;
}

footer .ui-panelgrid-cell {
    background-color: rgb(37, 40, 42) !important;
    color: #ffcc01 !important;
}

.indexArticle .articleBody {
    background-color: #eee !important;
    margin-left: -2em;
    margin-right: -2em;
    padding-left: 1em;
    padding-right: 1em;
    --mask:
        radial-gradient(34.99px at 50% calc(100% - 48px),#000 99%,#0000 101%) calc(50% - 60px) 0/120px 100%,
        radial-gradient(34.99px at 50% calc(100% + 18px),#0000 99%,#000 101%) 50% calc(100% - 30px)/120px 100% repeat-x;
        -webkit-mask: var(--mask);
              mask: var(--mask);
}

.ui-state-hover {
    background: #fff;
}

.ui-widget-content .ui-state-hover {
    background: #fff;
}

.ui-datatable thead th, .ui-datatable tfoot td {
    text-align: center;
    border: 1px solid #fff;
    background: rgba(31, 74, 153, 0.26) !important;
}

.ui-datatable tbody td {
    border-color: #fff !important;
    border-bottom: 2px solid rgba(31, 74, 153, 0.26) !important;
}

.ui-datatable .ui-paginator, .ui-datatable .ui-paginator {
    padding: 2px;
    background: rgba(31, 74, 153, 0.26) !important;
    border: none !important;
}

.ui-paginator {
    padding: 2px;
    background: rgba(31, 74, 153, 0.26) !important;
    border: none !important;
}

input {
    

    background: rgba(31, 74, 153, 0.16) !important;
    border-radius: 0px 6px 6px 0px !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
}

button.ui-button {
    border-radius: 4px !important;
    padding: 2px !important;
    border: 1px solid #ccc !important;
    background: #fff !important;
}

.ui-selectonebutton {
    padding: 4px !important;
}

.ui-selectonebutton .ui-button.ui-state-default {
    background: #fff !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important;
}

.ui-selectonebutton .ui-button.ui-state-default span {
    text-shadow: none !important;
    font-weight: normal !important;
}

.ui-button:hover {
    text-shadow: none !important;
    border: 1px solid #ccc !important;
    background: #fff !important;
}

.importantMsg {
    text-align: center;
    font-weight: bold;
    color: #1f4a99;
    padding: 2em;
    border: 1px solid #1f4a99;
    border-radius: 5px;
}

#filesButton {
    border-radius: 30px !important;
    position: fixed;
    top: 120px;
    right: 40px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    box-shadow: 4px 4px 3px #e6e6e6 !important;
}

.ui-buttonset:not(.ui-splitbutton) > .ui-button.ui-state-active:not(.ui-state-disabled) {
    background: rgba(31, 74, 153, 0.26) !important;
    border-color: rgb(0,113,254) !important;
    color: rgb(0,113,254) !important;
}  

button.ui-button span {
    text-shadow: none !important;
    font-weight: normal !important;
}

.ui-button, .ui-button span, button.ui-button.ui-state-default span, .ui-button.ui-state-default span {
    text-shadow: none !important;
}

.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default {
    color: #222 !important;
}

button.default {
    background: rgba(31, 74, 153, 0.26) !important;
    border-color: rgb(0,113,254) !important;
}

button.danger{
    background: #ff6347 !important;
    border-color: #8b0000 !important;
}

button.ui-button.ui-state-default {
    box-shadow: 0px 1px #e6e6e6 !important;
}

.menu-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 6px 20px;
    margin: 3px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.hamburger-icon {
    font-size: 20px;
    margin-right: 10px;
}

figure {
	margin: 30px auto;
	width: 128px;
	height: 111px;
	background-color: #ffffff;
	border-radius: 10px;
    border: 1px dotted #999;
	position: relative;
	
	&:before {
		content: '';
		display: block;
		width:128px;
		height: 69px;
		border-radius: 10px 10px 0 0;
		background-image: -webkit-linear-gradient(white 0%, #edeeef 100%); 
		background-image: -moz-linear-gradient(white 0%, #edeeef 100%); 
		background-image: -o-linear-gradient(white 0%, #edeeef 100%); 
		background-image: linear-gradient(white 0%, #edeeef 100%);
	}
	
	header {
		width: 128px;
		height: 27px;
		position: absolute;
		top: -1px;
		background-color: #fa565a;
		border-radius: 10px 10px 0 0;
		border-bottom: 3px solid #e5e5e5;
		font: 400 15px/27px Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: 0.5px;
		color: #fff;
		text-align: center;
	}
	
	section {
		width: 128px;
		height: 80px;
		position: absolute;
		top: 28px;
		font: 400 55px/75px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
		letter-spacing: -2px;
		color: #4c566b;
		text-align: center;
		z-index: 10;
		
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 35px;
			width: 3px;
			height: 10px;
			background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
		}
		
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 35px;
			right: 0;
			width: 3px;
			height: 10px;
			background-image: -webkit-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -moz-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: -o-linear-gradient(#b5bdc5 0%, #e5e5e5 100%); 
			background-image: linear-gradient(#b5bdc5 0%, #e5e5e5 100%);
		}
	}
}

.ui-state-highlight {
    background-color: rgba(31, 74, 153, 0.26) !important;
    color: #222 !important;
}

.ui-icon.fa {
    color: #1f4a99 !important;
}

.ui-button-icon-left.ui-menuitem-link.ui-icon.fa {
    margin-top: -6px !important;
}

.moreInfoLink {
    display: inline-block;
    border: 1px solid #1f4a99;
    font-weight: normal;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

.moreInfoLink a {
    color: #1f4a99;
    text-decoration: none;
}

.moreInfoLink a:visited {
    color: #1f4a99;
    text-decoration: none;
}

.backLink {
    display: inline-block;
    border: 1px solid #1f4a99;
    font-weight: normal;
    color: #1f4a99;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
}

.backLink a {
    color: #1f4a99;
    text-decoration: none;
    color: #1f4a99;
}

.backLink a:visited {
    color: #1f4a99;
    text-decoration: none;
    color: #1f4a99;
}

.newsBox {
    height: 250px;
    overflow: hidden;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(31, 74, 153, 0.26);
    border-radius: 0px 0px 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.councillorBox {
    background: #1f4a99;
    color: #eee;
    border-radius: 5px;
    padding: 20px;
    height: 200px;
    overflow: hidden;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.councillorBox h5 {
    color: #ffcc01;
}

.grayTableBlock {
    padding: 10px;
    transition: 0.3s;
    background: rgba(31, 74, 153, 0.26);
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 30px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(31, 74, 153, 0.3);
}

.grayTableBlock:hover {
    transform: scaleX(1.03) scaleY(1.03);
}

.grayTableBlock h5 {
    color: rgb(31, 74, 153);
}

.grayTableBlock h4 i {
    color: #eee !important;
}

.grayTableBlock th {
    background-color: #eee;
}

.grayTableBlock td {
    background-color: #eee;
}

.mainMenu {
    border: none !important;
    margin-top: 0px;
    margin-bottom: 5px;
    border-radius: 0px !important;
    padding-left: 220px !important;
    background-image: url("#{resource['image/menu.png']}");
    background-size: 200px 36px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    height: 20px;
}

.ui-menu .ui-widget-header {
    border-radius: 0px !important;
    background: #fff !important;
    border: none !important;
    border-bottom: 1px solid rgb(230, 238, 236) !important;
}

.articleBody {
    line-height: 1.5;
}

.articleBody img {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.articleBody li {
    line-height: 1.5em;
    height: auto;
}

.articleBody .ql-font-serif {
    font-family: Georgia, "Times New Roman", serif;
}

.articleBody .ql-font-monospace {
    font-family: Monaco, "Courier New", monospace;
}

.articleBody .ql-video.ql-align-center {
    margin: 0px auto;
    display: block;
}

.articleBody .ql-indent-1 {
    padding-left: 1.5em;
}

.articleBody .ql-indent-2 {
    padding-left: 3em;
}

.articleBody .ql-indent-3 {
    padding-left: 4.5em;
}

.articleBody .ql-indent-4 {
    padding-left: 6em;
}

.articleBody .ql-indent-5 {
    padding-left: 7.5em;
}

.articleBody .ql-indent-6 {
    padding-left: 9em;
}

.articleBody .ql-indent-7 {
    padding-left: 10.5em;
}

.articleBody .ql-indent-8 {
    padding-left: 12em;
}

.articleBody .ql-indent-9 {
    padding-left: 13.5em;
}

.articleBody p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.articleBody .ql-align-center {
    text-align: center;
}

.articleBody .ql-align-left {
    text-align: left;
}

.articleBody .ql-align-right {
    text-align: right;
}

.articleBody .ql-align-justify {
    text-align: justify;
}

.articleBody .ql-size-small {
    font-size: 0.75em;
}

.articleBody .ql-size-large {
    font-size: 1.5em;
}

.articleBody .ql-size-huge {
    font-size: 2.5em;
}

.categoryArticle {
    color: rgb(255,255,0);
    background-color: rgb(0,113,254);
    font-size: 120%;
    padding-left: 1em;
    padding-right: 1em;
    box-shadow: 3px 3px 5px #888;
    font-family: "Times New Roman", Times, serif;
    font-variant: small-caps;
}

.fullWidthPicture {
    overflow:hidden;
    padding-bottom:36.25%;
    position:relative;
    height:0;
    margin-left: calc((-100vw / 2 + 960px / 2) - 2px);
    margin-right: calc((-100vw / 2 + 960px / 2) - 4px);
}

.mapResponsive {
    overflow:hidden;
    padding-bottom:36.25%;
    position:relative;
    height:0;
    margin-bottom: -43px;
    margin-left: calc(-100vw / 2 + 960px / 2);
    margin-right: calc(-100vw / 2 + 960px / 2);
}

.mapResponsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    left: 50%;
    margin: -15px 0 0 -15px;
    opacity: 0;
    position: absolute;
    top: 50%;
    width: 30px;

    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

#content {
    padding-bottom: 3em;
}

.activeDeskItem {
    font-weight: bold;
}

.mainMenuContainer {
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
}

.ui-menuitem-icon.ui-icon {
    margin-right: 5px;
}

.icon-bar {
    margin: 2em;
}

.icon-bar a {
    display: inline-block;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    width: 30px;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  background-color: rgb(37, 40, 42);
  color: #ffcc01;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav ul {
    list-style-type: none;  
}

.sidenav h2 {
    color: #ffcc01;
    padding-left: 1em;
}

.sidenav p {
    padding-left: 8px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #b1b1b1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@keyframes riseIcon {
    0% {
        text-shadow: none;
    }

    100% {
        font-size: 350%;
        text-shadow: 3px 3px 5px #888;
    }
}

@media only screen and (max-width: 979px) {
    #content {
        margin-left: 1em;
        margin-right: 1em
    }

    .mapResponsive {
        display: none;
    }

    .mainMenu {
        display: none;
    }

    .menuButtonContainer {
        display: block;
        height: 36px;
        background-image: url("#{resource['image/menu.png']}");
        background-size: 200px 36px;
        background-position: left center;
        background-repeat: no-repeat;
    }

    .fullWidthPicture {
        display: none;
    }
}

@media only screen and (min-width: 980px) {
    #content {
        margin-left: auto;
        margin-right: auto;
        max-width: 960px;
    }

    .mapResponsive {
        display: block;
    }

    .mainMenu {
        display: block;
    }

    .menuButtonContainer {
        display: none;
    }

    .fullWidthPicture {
        display: block;
    }
}

@media only screen and (max-width: 1599px) {
    
}

@media only screen and (min-width: 1600px) {
   
}
